name: BSDs

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  BSDs:
    # Run BSDs using virtualization
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        os:
          - name: freebsd
            version: '14.0'
            pkginstall: pkg install -y p5-ExtUtils-MakeMaker

          - name: openbsd
            version: '7.5'
            pkginstall: echo no packages required

          - name: netbsd
            version: '9.3'
            pkginstall: pkgin -y install perl || true
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Test on ${{ matrix.os.name }}
        uses: cross-platform-actions/action@b2e15da1e667187766fff4945d20b98ac7055576  # v0.24.0
        with:
          operating_system: ${{ matrix.os.name }}
          version: ${{ matrix.os.version }}
          shell: bash
          run: |
            sudo ${{ matrix.os.pkginstall }}
            /usr/sbin/pkg_info || true
            curl -L https://cpanmin.us | sudo perl - --notest --installdeps --with-configure --with-develop .
            perl Makefile.PL
            make
            prove -wlvmb t
